@model Moment2.Models.ContactModel
<!-- Partial --> 
<div class="contact_partial">
        <p>@Model?.FullName</p>
        <p>@Model?.Address</p>
        <p>@Model?.Zip_Code  @Model?.City</p>
        <p>@Model?.Email</p>
        <p>@Model?.Phone</p>
</div>
