@model Moment2.Models.TopMoviesModel
<!-- Partial --> 
<div class="top_partial">
    <ul>
        <li>1. @Model?.First</li>
        <li>2. @Model?.Second</li>
        <li>3. @Model?.Third</li>
    </ul>
</div>